.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.container-quadra {
    width: 40%;
    display: flex;
    align-self: center ;
    justify-content: flex-end;
}
.container-agenda {
    width: 50%;
    display: flex;
}
.container-dia {
    display: flex;
    background-color: #4169E1;
}
.box-itens {
    margin: 10px;
}
.title {
text-align: center;
color: white;
font-size: 18px;
}
.hour {
border-radius: 6px;
width: 60px;
text-align: center;
}
.freehour {
font-weight: bold;
background-color: white;
color: black;
cursor: pointer;
}
.occupiedhour {
color: #808080;
background-color: #DADADA;  
}
.lead {
    padding: 5px;
}
