.containertefs {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .containertefs {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .containertefs {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .containertefs {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .containertefs {
      max-width: 1140px; } }

.row {
  flex-direction: row;
}

.imgalign {
  align-self: center;
  margin-right: 10px;
}

.tablealign {
  align-content: flex-end;
  background-color: #4169E1;
}
.weekly{
  color: #fff;
}
td {
  margin: 10px;
}
th {
  margin: 10px;
}
.selecttime {
  font-style: italic;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
.freebtn {
  color: black;
  background-color: white;
  border-radius: 7px;
  padding-left: 5px;
  font-weight: bold;
}
.occupiedbtn {
  color: #808080;
  background-color: #DADADA;
  border-radius: 10px;
  padding-left: 5px;
}